mixin formProyecto(proyecto={})

  form.agregar-proyecto(action="/nuevo-proyecto" method="POST")
    .campo
      label(for="nombre") Nombre Proyecto: 
      input(type="text" id="nombre" name="nombre" placeholder="Nombre Proyecto" value=proyecto.nombre)
    .campo.enviar 
      input.boton(type="submit" value="Agregar")